
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-transparent">
                <div class="card-header">
                    <h1 class="card-title text-center">
                        {{ stonkName }}
                    </h1>
                    <p class="card-category text-center">

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">Stock Price and Estimation</div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-container" style="min-height: 375px">
              <canvas id="statisticsChart"></canvas>
            </div>
            <div id="myChartLegend"></div>
          </div>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card full-height">
            <div class="card-body">
              <div class="card-title">Stock and Model statistics</div>
              <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-overall"></div>
                  <h6 class="fw-bold mt-3 mb-0">Overall Accuracy</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-linreg"></div>
                  <h6 class="fw-bold mt-3 mb-0">Lin Reg Accuracy</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-memory"></div>
                  <h6 class="fw-bold mt-3 mb-0">Memory Accuracy</h6>
                </div>
                <div class="px-2 pb-2 pb-md-0 text-center">
                  <div id="circles-forest"></div>
                  <h6 class="fw-bold mt-3 mb-0">Forest Accuracy</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Historical Stock Predictions</h4>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table id="basic-datatables" class="display table table-striped table-hover" >
                          <thead>
                              <tr>
                                  <th>Date</th>
                                  <th>Open</th>
                                  <th>Close</th>
                                  <th>Predicted Close</th>
                                  <th>Change</th>
                                  <th>Accuracy</th>
                              </tr>
                          </thead>
                          <tfoot>
                              <tr>
                                  <th>Date</th>
                                  <th>Open</th>
                                  <th>Close</th>
                                  <th>Predicted Close</th>
                                  <th>Change</th>
                                  <th>Accuracy</th>
                              </tr>
                          </tfoot>
                          <tbody>
                            {% for stonkRow in dataTable %}
                              <tr>
                                  <td> {{  stonkRow[0]  }} </td>  {# <- not dataTable #}
                                  <td> {{  stonkRow[1]  }} </td>  {# <- not dataTable #}
                                  <td> {{  stonkRow[2]  }} </td>  {# <- not dataTable #}
                                  <td> {{  stonkRow[3]  }} </td>  {# <- not dataTable #}
                                  <td> {{  stonkRow[4]  }} </td>  {# <- not dataTable #}
                                  <td> {{  stonkRow[5]  }} </td>  {# <- not dataTable #}
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>


{% endblock content %}

{% block javascripts %}

	<script src="/static/assets/js/demo.js"></script>

	<script>
    var closeValue  = {{ closeValue|tojson }};
    var linRegPred  = {{ linRegPred|tojson }};
    var memoryPred  = {{ memoryPred|tojson }};
    var forestPred  = {{ forestPred|tojson }};
    var dates       = {{ dates|tojson }};


		Circles.create({
			id:'circles-overall',
			radius:45,
			value: {{ chartData[0] }},
			maxValue:100,
			width:7,
			text: {{ chartData[0] }},
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-linreg',
			radius:45,
			value:{{ chartData[1] }},
			maxValue:100,
			width:7,
			text: {{ chartData[1] }},
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-memory',
			radius:45,
			value:{{ chartData[2] }},
			maxValue:100,
			width:7,
			text: {{ chartData[2] }},
			colors:['#f1f1f1', '#177dff'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

    Circles.create({
			id:'circles-forest',
			radius:45,
			value:{{ chartData[3] }},
			maxValue:100,
			width:7,
			text: {{ chartData[3] }},
			colors:['#f1f1f1', '#228B22'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

    var ctx = document.getElementById('statisticsChart').getContext('2d');

    var statisticsChart = new Chart(ctx, {
    	type: 'line',
    	data: {
    		labels: dates,
    		datasets: [ {
    			label: "Stock Value",
    			borderColor: '#f3545d',
    			pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
    			pointRadius: 0,
    			backgroundColor: 'rgba(243, 84, 93, 0.4)',
    			legendColor: '#f3545d',
    			fill: true,
    			borderWidth: 2,
    			data: closeValue
    		}, {
    			label: "Lin Reg Estimation",
    			borderColor: '#fdaf4b',
    			pointBackgroundColor: 'rgba(253, 175, 75, 0.6)',
    			pointRadius: 0,
    			legendColor: '#fdaf4b',
    			fill: false,
    			borderWidth: 2,
    			data: linRegPred
    		}, {
    			label: "Memory Estimation",
    			borderColor: '#177dff',
    			pointBackgroundColor: 'rgba(23, 125, 255, 0.6)',
    			pointRadius: 0,
    			legendColor: '#177dff',
    			fill: false,
    			borderWidth: 2,
    			data: memoryPred
    		}, {
    			label: "Forest Estimation",
    			borderColor: '#228B22',
    			pointBackgroundColor: 'rgba(34, 139, 34, 0.6)',
    			pointRadius: 0,
    			legendColor: '#228B22',
    			fill: false,
    			borderWidth: 2,
    			data: forestPred
    		}]
    	},
    	options : {
    		responsive: true,
    		maintainAspectRatio: false,
    		legend: {
    			display: false
    		},
    		tooltips: {
    			bodySpacing: 4,
    			mode:"nearest",
    			intersect: 0,
    			position:"nearest",
    			xPadding:10,
    			yPadding:10,
    			caretPadding:10
    		},
    		layout:{
    			padding:{left:5,right:5,top:15,bottom:15}
    		},
    		scales: {
    			yAxes: [{
    				ticks: {
    					fontStyle: "500",
    					beginAtZero: false,
    					maxTicksLimit: 5,
    					padding: 10
    				},
    				gridLines: {
    					drawTicks: false,
    					display: false
    				}
    			}],
    			xAxes: [{
    				gridLines: {
    					zeroLineColor: "transparent"
    				},
    				ticks: {
    					padding: 10,
    					fontStyle: "500"
    				}
    			}]
    		},
    		legendCallback: function(chart) {
    			var text = [];
    			text.push('<ul class="' + chart.id + '-legend html-legend">');
    			for (var i = 0; i < chart.data.datasets.length; i++) {
    				text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
    				if (chart.data.datasets[i].label) {
    					text.push(chart.data.datasets[i].label);
    				}
    				text.push('</li>');
    			}
    			text.push('</ul>');
    			return text.join('');
    		}
    	}
    });

    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = statisticsChart.generateLegend();

    // bind onClick event to all LI-tags of the legend
    var legendItems = myLegendContainer.getElementsByTagName('li');
    for (var i = 0; i < legendItems.length; i += 1) {
    	legendItems[i].addEventListener("click", legendClickCallback, false);
    }





	</script>

{% endblock javascripts %}
